# <u>**Part 6**

In [28]:
import pandas as pd
import numpy as np

### **Exercise 51**

The follwing dataframe is given

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD')

Extract rows of this DataFrame for which the C column is greater than 0.8

In [29]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
df

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
1  0.596652  0.771963  0.175693  0.380721
2  0.149971  0.072993  0.561725  0.107477
3  0.608152  0.723251  0.347917  0.312696
4  0.701434  0.136714  0.175082  0.161599
5  0.547476  0.493474  0.058542  0.546294
6  0.496265  0.929264  0.156293  0.215134
7  0.436491  0.123999  0.471971  0.582352
8  0.944066  0.171981  0.592910  0.871993
9  0.480575  0.173190  0.669595  0.435370

In [30]:
df['C'] > 0.8

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: C, dtype: bool

In [31]:
df.loc[df['C'] > 0.8]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

### **Exercise 52**

The follwowing dataframe is given

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

Extract rows of this DataFrame for which the C column is greater than 0.3 and the D column is less than 0.7

In [32]:
df.loc[(df['C'] > 0.3) & (df['D'] < 0.7)]

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
2  0.149971  0.072993  0.561725  0.107477
3  0.608152  0.723251  0.347917  0.312696
7  0.436491  0.123999  0.471971  0.582352
9  0.480575  0.173190  0.669595  0.435370

### **Exercise 53**

The following DataFrame is given

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

Iterate through the first five rows of this object and print each row

In [33]:
df[:5]

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
1  0.596652  0.771963  0.175693  0.380721
2  0.149971  0.072993  0.561725  0.107477
3  0.608152  0.723251  0.347917  0.312696
4  0.701434  0.136714  0.175082  0.161599

In [34]:
for index, row in df.head().iterrows():
    print(row)

A    0.319882
B    0.522807
C    0.408804
D    0.149937
Name: 0, dtype: float64
A    0.596652
B    0.771963
C    0.175693
D    0.380721
Name: 1, dtype: float64
A    0.149971
B    0.072993
C    0.561725
D    0.107477
Name: 2, dtype: float64
A    0.608152
B    0.723251
C    0.347917
D    0.312696
Name: 3, dtype: float64
A    0.701434
B    0.136714
C    0.175082
D    0.161599
Name: 4, dtype: float64

### **Exercise 54**

The following DataFrame is given

df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))

Set the value in row with index 3 for column B as np.nan (use df.iloc) and also set the value in the row at index 8 for column D as np.nan (use df.loc)

In [35]:
df

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
1  0.596652  0.771963  0.175693  0.380721
2  0.149971  0.072993  0.561725  0.107477
3  0.608152  0.723251  0.347917  0.312696
4  0.701434  0.136714  0.175082  0.161599
5  0.547476  0.493474  0.058542  0.546294
6  0.496265  0.929264  0.156293  0.215134
7  0.436491  0.123999  0.471971  0.582352
8  0.944066  0.171981  0.592910  0.871993
9  0.480575  0.173190  0.669595  0.435370

In [36]:
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
df

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
1  0.596652  0.771963  0.175693  0.380721
2  0.149971  0.072993  0.561725  0.107477
3  0.608152       NaN  0.347917  0.312696
4  0.701434  0.136714  0.175082  0.161599
5  0.547476  0.493474  0.058542  0.546294
6  0.496265  0.929264  0.156293  0.215134
7  0.436491  0.123999  0.471971  0.582352
8  0.944066  0.171981  0.592910       NaN
9  0.480575  0.173190  0.669595  0.435370

### **Exercise 55**

Remove all rows from the dataframe containing missing values and assign it to a new variable df1.

In [37]:
df1 = df.dropna()
df1

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
1  0.596652  0.771963  0.175693  0.380721
2  0.149971  0.072993  0.561725  0.107477
4  0.701434  0.136714  0.175082  0.161599
5  0.547476  0.493474  0.058542  0.546294
6  0.496265  0.929264  0.156293  0.215134
7  0.436491  0.123999  0.471971  0.582352
9  0.480575  0.173190  0.669595  0.435370

### **Exercise 56**

Note the index after removing the two rows is not correct. Reset the index.

In [42]:
df1 = df1.reset_index(drop=True)
df1

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
1  0.596652  0.771963  0.175693  0.380721
2  0.149971  0.072993  0.561725  0.107477
3  0.701434  0.136714  0.175082  0.161599
4  0.547476  0.493474  0.058542  0.546294
5  0.496265  0.929264  0.156293  0.215134
6  0.436491  0.123999  0.471971  0.582352
7  0.480575  0.173190  0.669595  0.435370

### **Exercise 57**

Using the original df DataFrame, calculate the missing values in this object for each column

In [47]:
df.isnull().sum()

A    0
B    1
C    0
D    1
dtype: int64

### **Exercise 58**

Fill in the missing values with 0 and assign to the variable df

In [48]:
df

          A         B         C         D
0  0.319882  0.522807  0.408804  0.149937
1  0.596652  0.771963  0.175693  0.380721
2  0.149971  0.072993  0.561725  0.107477
3  0.608152       NaN  0.347917  0.312696
4  0.701434  0.136714  0.175082  0.161599
5  0.547476  0.493474  0.058542  0.546294
6  0.496265  0.929264  0.156293  0.215134
7  0.436491  0.123999  0.471971  0.582352
8  0.944066  0.171981  0.592910       NaN
9  0.480575  0.173190  0.669595  0.435370

In [55]:
df = df.fillna(0)
df

          D         A         B         C
0  0.149937  0.319882  0.522807  0.408804
1  0.380721  0.596652  0.771963  0.175693
2  0.107477  0.149971  0.072993  0.561725
3  0.312696  0.608152  0.000000  0.347917
4  0.161599  0.701434  0.136714  0.175082
5  0.546294  0.547476  0.493474  0.058542
6  0.215134  0.496265  0.929264  0.156293
7  0.582352  0.436491  0.123999  0.471971
8  0.000000  0.944066  0.171981  0.592910
9  0.435370  0.480575  0.173190  0.669595

### **Exercise 59**

Replace the order of the columns in the df object as following

* D, A, B, C

In [56]:
df = df[['D', 'A', 'B', 'C']]
df

          D         A         B         C
0  0.149937  0.319882  0.522807  0.408804
1  0.380721  0.596652  0.771963  0.175693
2  0.107477  0.149971  0.072993  0.561725
3  0.312696  0.608152  0.000000  0.347917
4  0.161599  0.701434  0.136714  0.175082
5  0.546294  0.547476  0.493474  0.058542
6  0.215134  0.496265  0.929264  0.156293
7  0.582352  0.436491  0.123999  0.471971
8  0.000000  0.944066  0.171981  0.592910
9  0.435370  0.480575  0.173190  0.669595

### **Exercise 40**

Remove the D column from this object.

In [57]:
df = df.drop('D', axis = 1)
df

          A         B         C
0  0.319882  0.522807  0.408804
1  0.596652  0.771963  0.175693
2  0.149971  0.072993  0.561725
3  0.608152  0.000000  0.347917
4  0.701434  0.136714  0.175082
5  0.547476  0.493474  0.058542
6  0.496265  0.929264  0.156293
7  0.436491  0.123999  0.471971
8  0.944066  0.171981  0.592910
9  0.480575  0.173190  0.669595