# <u>**Part 2**

In [1]:
import numpy as np
import pandas as pd

### **Exercise 11**

Create the DatetimeIndex object containing the yyyy-mm-dd format dates for all days from January 2020 and assign it to the date_range variable.

In [ ]:
## solution 1
date_range = pd.date_range(start='2020-01-01', periods=31)
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
## solution 2
date_range = pd.date_range(start='2020-01-01', end='2020-01-31')
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

### **Exercise 12**

Create the DatetimeIndex object containing the dates in the yyyy-mm-dd format for all Mondays from 2020 and assign it to the date_range variable

In [ ]:
## solution 1

date_range = pd.date_range(start='2020-01-01',
                           periods = 52,
                           freq = 'W-MON')
date_range

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [ ]:
## solution 2

date_range = pd.date_range(start='2020-01-01',
                           end = '2020-12-31',
                           freq = 'W-MON')
date_range

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

## **Exercise 13**

Create the DatetimeIndex object containing the dates in the format yyyy-mm-dd hh: mm: ss for January 1, 2021 with a time interval of 1h and assign to the variable date_range.

In [ ]:
## solution 1
date_range = pd.date_range(start='2021-01-01', periods=24, freq='H')
date_range

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [ ]:
## solution 2
date_range = pd.date_range(start='2021-01-01', end='2021-01-02', freq='H')
date_range

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00',
               '2021-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

### **Exercise 14**

Create the following dataframe

<pre>
     day         day_0f_year
0    2021-03-01  60
1    2021-03-02  61
2    2021-03-03  62
3    2021-03-04  63
4    2021-03-05  64
5    2021-03-06  65
6    2021-03-07  66
7    2021-03-08  67
8    2021-03-09  68
9    2021-03-10  69
10   2021-03-11  70
11   2021-03-12  71
12   2021-03-13  72
13   2021-03-14  73
14   2021-03-15  74
15   2021-03-16  75
16   2021-03-17  76
17   2021-03-18  77
18   2021-03-19  78
19   2021-03-20  79
20   2021-03-21  80
21   2021-03-22  81
22   2021-03-23  82
23   2021-03-24  83
24   2021-03-25  84
25   2021-03-26  85
26   2021-03-27  86
27   2021-03-28  87
28   2021-03-29  88
29   2021-03-30  89
30   2021-03-31  90
</pre

In [ ]:
date_range = pd.date_range(start='2021-03-01', periods=31)
date_range

DatetimeIndex(['2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04',
               '2021-03-05', '2021-03-06', '2021-03-07', '2021-03-08',
               '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12',
               '2021-03-13', '2021-03-14', '2021-03-15', '2021-03-16',
               '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-20',
               '2021-03-21', '2021-03-22', '2021-03-23', '2021-03-24',
               '2021-03-25', '2021-03-26', '2021-03-27', '2021-03-28',
               '2021-03-29', '2021-03-30', '2021-03-31'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(date_range, columns=['day'])
df

          day
0  2021-03-01
1  2021-03-02
2  2021-03-03
3  2021-03-04
4  2021-03-05
5  2021-03-06
6  2021-03-07
7  2021-03-08
8  2021-03-09
9  2021-03-10
10 2021-03-11
11 2021-03-12
12 2021-03-13
13 2021-03-14
14 2021-03-15
15 2021-03-16
16 2021-03-17
17 2021-03-18
18 2021-03-19
19 2021-03-20
20 2021-03-21
21 2021-03-22
22 2021-03-23
23 2021-03-24
24 2021-03-25
25 2021-03-26
26 2021-03-27
27 2021-03-28
28 2021-03-29
29 2021-03-30
30 2021-03-31

In [ ]:
df['day_of_year'] = df['day'].dt.dayofyear
df

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

### **Exercise 15**

The following dictinary is given:


data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),<br>
    'uniform': np.random.uniform(low=0, high=1, size=1000), <br>
    'binomial': np.random.binomial(n=1, p=0.2, size=1000) <br>
}

Create the DateFrame object from this dictionary and assign it to the df variable. As an index, add a dates from 2020-01-01

In [ ]:
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

In [ ]:
df = pd.DataFrame(data_dict, index=pd.date_range('2020-01-01', periods=1000))
df

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

### **Exercise 16**

Using the previous dataframe

Print the first ten rows of this DataFrame then print blank line and print the last five rows

In [ ]:
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data_dict, index=pd.date_range('2020-01-01', periods=1000))
df

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [ ]:
## solution 1
print(df.head(10), 2 *'\n', df.tail(5))

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0

               normal   uniform  binomial
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

In [ ]:
## solution 2
print(df.head(10))
print()
print(df.tail(5))

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0

              normal   uniform  binomial
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

### **Exercise 17**

Again using the previous dataframe

Display basic information about the df object (number of rows, number of columns, type of variables), print a blank line and print basic statistics of df (mean value, standard deviation, min, max, median).

In [ ]:
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data_dict, index=pd.date_range('2020-01-01', periods=1000))
df

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [ ]:
print(df.info(), 2*'\n', df.describe())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 31.2 KB
None

             normal      uniform    binomial
count  1000.000000  1000.000000  1000.00000
mean      0.019332     0.503649     0.19200
std       0.979216     0.288357     0.39407
min      -3.241267     0.003218     0.00000
25%      -0.647590     0.247199     0.00000
50%       0.025301     0.516126     0.00000
75%       0.647944     0.746319     0.00000
max       3.852731     0.999414     1.00000

### **Exercise 18**

Using thje previous dataframe, Find the distribution of the binomial column from this DataFrame

In [2]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
df

              normal   uniform  binomial
2020-01-01  0.446216  0.528829         0
2020-01-02 -0.490108  0.088388         1
2020-01-03  0.036552  0.085135         0
2020-01-04 -2.803534  0.076301         1
2020-01-05 -0.367579  0.253145         0
...              ...       ...       ...
2022-09-22  0.466028  0.042764         0
2022-09-23 -0.044879  0.211763         1
2022-09-24  0.629808  0.291859         1
2022-09-25 -0.539788  0.672131         0
2022-09-26 -0.056155  0.470222         0

[1000 rows x 3 columns]

In [4]:
df.value_counts('binomial')

binomial
0    778
1    222
dtype: int64

In [6]:
df['binomial'].value_counts()

0    778
1    222
Name: binomial, dtype: int64

### **Exercise 19**

Using the previous dataframe, Extract first 50 rows from the df object and save to the 'dataframe50.csv' file.

In [8]:
np.random.seed(42)
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

df = pd.DataFrame(data=data_dict, index=pd.date_range('2020-01-01', periods=1000))
df

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
...              ...       ...       ...
2022-09-22 -0.281100  0.280683         1
2022-09-23  1.797687  0.206993         0
2022-09-24  0.640843  0.516573         0
2022-09-25 -0.571179  0.005506         1
2022-09-26  0.572583  0.007664         0

[1000 rows x 3 columns]

In [9]:
df[:50]

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0
2020-01-11 -0.463418  0.714087         0
2020-01-12 -0.465730  0.801728         0
2020-01-13  0.241962  0.339450         0
2020-01-14 -1.913280  0.814825         0
2020-01-15 -1.724918  0.080115         0
2020-01-16 -0.562288  0.894817         1
2020-01-17 -1.012831  0.547592         0
2020-01-18  0.314247  0.817298         0
2020-01-19 -0.908024  0.452318         1
2020-01-20 -1.412304  0.643578         0
2020-01-21  1.465649  0.526403         0
2020-01-22 -0.225776  0.731590         0
2020-01-23  0.067528  0.081630         0
2020-01-24 -1.424748  0.060352         0
2020-01-25 -0.544383  0.247103         1
2020-01-26  0.110923  0.159545         0
2020-01-27 -1.150994  0.871784         0
2020-01-28  0.375698  0.219214         0
2020-01-29 -0.600639  0.975865         1
2020-01-30 -0.291694  0.336896         1
2020-01-31 -0.601707  0.182118         1
2020-02-01  1.852278  0.789699         0
2020-02-02 -0.013497  0.658708         0
2020-02-03 -1.057711  0.498196         0
2020-02-04  0.822545  0.555364         0
2020-02-05 -1.220844  0.719202         0
2020-02-06  0.208864  0.228455         0
2020-02-07 -1.959670  0.996334         0
2020-02-08 -1.328186  0.974793         0
2020-02-09  0.196861  0.650326         0
2020-02-10  0.738467  0.199542         0
2020-02-11  0.171368  0.680228         0
2020-02-12 -0.115648  0.072198         0
2020-02-13 -0.301104  0.030653         0
2020-02-14 -1.478522  0.257683         0
2020-02-15 -0.719844  0.462623         0
2020-02-16 -0.460639  0.868273         0
2020-02-17  1.057122  0.727169         0
2020-02-18  0.343618  0.742707         1
2020-02-19 -1.763040  0.425493         0

In [10]:
df[:50].to_csv('dataframe50.csv', sep=',')

### **Exercise 20**

load the 'dataframe50.csv' file into a new variable called df_new

In [14]:
df_new = pd.read_csv('dataframe50.csv', index_col=0)
df_new

              normal   uniform  binomial
2020-01-01  0.496714  0.167483         0
2020-01-02 -0.138264  0.104568         0
2020-01-03  0.647689  0.636430         0
2020-01-04  1.523030  0.706476         0
2020-01-05 -0.234153  0.031586         1
2020-01-06 -0.234137  0.936212         0
2020-01-07  1.579213  0.051971         0
2020-01-08  0.767435  0.541296         0
2020-01-09 -0.469474  0.709061         1
2020-01-10  0.542560  0.870969         0
2020-01-11 -0.463418  0.714087         0
2020-01-12 -0.465730  0.801728         0
2020-01-13  0.241962  0.339450         0
2020-01-14 -1.913280  0.814825         0
2020-01-15 -1.724918  0.080115         0
2020-01-16 -0.562288  0.894817         1
2020-01-17 -1.012831  0.547592         0
2020-01-18  0.314247  0.817298         0
2020-01-19 -0.908024  0.452318         1
2020-01-20 -1.412304  0.643578         0
2020-01-21  1.465649  0.526403         0
2020-01-22 -0.225776  0.731590         0
2020-01-23  0.067528  0.081630         0
2020-01-24 -1.424748  0.060352         0
2020-01-25 -0.544383  0.247103         1
2020-01-26  0.110923  0.159545         0
2020-01-27 -1.150994  0.871784         0
2020-01-28  0.375698  0.219214         0
2020-01-29 -0.600639  0.975865         1
2020-01-30 -0.291694  0.336896         1
2020-01-31 -0.601707  0.182118         1
2020-02-01  1.852278  0.789699         0
2020-02-02 -0.013497  0.658708         0
2020-02-03 -1.057711  0.498196         0
2020-02-04  0.822545  0.555364         0
2020-02-05 -1.220844  0.719202         0
2020-02-06  0.208864  0.228455         0
2020-02-07 -1.959670  0.996334         0
2020-02-08 -1.328186  0.974793         0
2020-02-09  0.196861  0.650326         0
2020-02-10  0.738467  0.199542         0
2020-02-11  0.171368  0.680228         0
2020-02-12 -0.115648  0.072198         0
2020-02-13 -0.301104  0.030653         0
2020-02-14 -1.478522  0.257683         0
2020-02-15 -0.719844  0.462623         0
2020-02-16 -0.460639  0.868273         0
2020-02-17  1.057122  0.727169         0
2020-02-18  0.343618  0.742707         1
2020-02-19 -1.763040  0.425493         0