# <u>**Part 4**

In [1]:
import pandas as pd
import numpy as np

### **Exercise 31**

The following url is given

* https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv

using pandas load this file into a DataFrame assign to the df variable, and show the first five rows.

In [2]:
url = 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv'
df = pd.read_csv(url)
df.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

### **Exercise 32**

Calculate the number of missing values for each variable.

In [3]:
df.isnull()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7039,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7040,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7041,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7042,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

### **Exercise 33**

Note the *TotalCharges* column. Note the type of this column is set to object.

* Replace the  missing values of this column with its median
* Then show the distribution of this column

In [5]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [6]:
# Calculate median
median = df['TotalCharges'][df['TotalCharges'] != ' '].median()
median

1397.475

In [7]:
# replace missing values with the median
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = median

In [8]:
# convert TotalCharges column to float type
df['TotalCharges'] = df['TotalCharges'].astype('float')

In [9]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [10]:
df['TotalCharges'].value_counts()

1397.475    11
20.200      11
19.750       9
20.050       8
19.900       8
            ..
6849.400     1
692.350      1
130.150      1
3211.900     1
6844.500     1
Name: TotalCharges, Length: 6531, dtype: int64

### **Exercise 34**

Convert the following columns

* Gender, SenoirCitizen, Partner, Dependents, PhoneService, MutipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, Contract, StreamingMovies, PaperlessBilling, PaymentMethod, Churn

to the *category* type. And the following columns

* tenure, MonthlyCharges

to the *float* type

In [11]:
categorical = [
    'gender', 
    'SeniorCitizen', 
    'Partner', 
    'Dependents', 
    'PhoneService', 
    'MultipleLines', 
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'Contract',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod',
    'Churn'
]

numerical = [
    'tenure',
    'MonthlyCharges'
]

In [12]:
for col in categorical:
    df[col] = pd.Categorical(df[col])

for col in numerical:
    df[col] = df[col].astype('float')

df.dtypes

customerID            object
gender              category
SeniorCitizen       category
Partner             category
Dependents          category
tenure               float64
PhoneService        category
MultipleLines       category
InternetService     category
OnlineSecurity      category
OnlineBackup        category
DeviceProtection    category
TechSupport         category
StreamingTV         category
StreamingMovies     category
Contract            category
PaperlessBilling    category
PaymentMethod       category
MonthlyCharges       float64
TotalCharges         float64
Churn               category
dtype: object

### **Exercise 35**

Print the basic statistics of categorical variables.

In [13]:
df.describe()

            tenure  MonthlyCharges  TotalCharges
count  7043.000000     7043.000000   7043.000000
mean     32.371149       64.761692   2281.916928
std      24.559481       30.090047   2265.270398
min       0.000000       18.250000     18.800000
25%       9.000000       35.500000    402.225000
50%      29.000000       70.350000   1397.475000
75%      55.000000       89.850000   3786.600000
max      72.000000      118.750000   8684.800000

In [14]:
df.describe(include=['category'])

,gender,SeniorCitizen,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Churn
count,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043,7043
unique,2,2,2,2,2,3,3,3,3,3,3,3,3,3,2,4,2
top,Male,0,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,No
freq,3555,5901,3641,4933,6361,3390,3096,3498,3088,3095,3473,2810,2785,3875,4171,2365,5174

### **Exercise 36**

Find the distribution of the *churn* variable

In [17]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

### **Exercise 37**

Group the DataFrame by Churn and PaymentMethod column and calculate the average value of the MonthlyCharges column

In [19]:
df.groupby(['Churn', 'PaymentMethod'])['MonthlyCharges'].mean()

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

### **Exercise 38**

Map the churn as follows

* 'Yes' --> 1
* 'No' --> 0

In [20]:
df['Churn'] = df['Churn'].map({'Yes':1, 'No':0})
df['Churn']

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: category
Categories (2, int64): [0, 1]

### **Exercise 39**

Calculate the correlation matrix for the dataframe

In [21]:
df.corr()

                  tenure  MonthlyCharges  TotalCharges
tenure          1.000000        0.247900      0.825464
MonthlyCharges  0.247900        1.000000      0.650864
TotalCharges    0.825464        0.650864      1.000000

### **Exercise 40**

Take a sample of ten rows from the DataFrane and save it *sample_10.csv* file

In [22]:
df.sample(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5194,1902-XBTFB,Male,0,No,Yes,22.0,Yes,No,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,Yes,Electronic check,89.40,2001.50,1
4777,7501-VTYLJ,Female,0,No,Yes,2.0,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,No,Mailed check,51.55,106.20,0
4647,7396-VJUZB,Male,0,Yes,Yes,4.0,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,No,Mailed check,45.25,155.35,0
5322,8731-WBBMB,Female,0,Yes,No,26.0,Yes,No,DSL,No,...,Yes,Yes,Yes,Yes,Month-to-month,No,Bank transfer (automatic),81.90,2078.55,0
315,5027-YOCXN,Male,0,Yes,Yes,51.0,Yes,Yes,Fiber optic,Yes,...,No,Yes,Yes,Yes,One year,No,Credit card (automatic),110.05,5686.40,0
2264,7176-WRTNX,Male,0,No,No,70.0,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),114.95,7711.25,0
4150,0187-QSXOE,Male,1,Yes,No,7.0,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,89.00,605.45,0
654,4160-AMJTL,Female,1,No,No,8.0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Electronic check,19.65,164.30,1
6871,4070-OKWVH,Female,0,Yes,No,52.0,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,No,Bank transfer (automatic),94.60,5025.80,0
388,8782-LKFPK,Male,0,No,No,44.0,Yes,Yes,Fiber optic,No,...,Yes,No,No,Yes,Month-to-month,Yes,Mailed check,90.40,4063.00,0

In [23]:
df.sample(10).to_csv('sample_10.csv')